* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 65px;
  background-color: #113946;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.form {
  width: 50%;
  margin: auto;
  margin-top: 30px;
}
.form-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebf3e8;
  width: 50%;
  padding: 15px 20px;
  margin: auto;
  margin-top: 20px;
  border-radius: 3px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.form-data p {
  font-size: 16px;
  font-weight: 100;
}
.form-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 15px 20px;
  margin: auto;
  margin-top: 20px;
  border-radius: 3px;
  background-color: #daddb1;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
